.container {
  /* padding: 0 2rem; */
  /* background-color: #282c34; */
  color: white;
  /* font-size: calc(10px + 2vmin); */
  width: 100%;
  max-width: 1920px;
  margin: 4rem auto;
}

.playerHeader {
  margin: 2rem 0;
  width: 100%;
}

.muxPlayer mux-player {
  width: 100%;
  max-width: 1920px;
  /* max-width: 800px; */
  margin: 0 auto;
}
